<%- include ("partials/header") %>

<h1>Compose</h1>

<form action="/compose" method="POST">
    <div class="mb-3">
      <label for="postTitle" class="form-label">Title</label>
      <input type="text" class="form-control" id="postTitle" name="postTitle">
    <!-- </div> -->
    <!-- <div class="mb-3"> -->
      <label for="postContent" class="form-label">Post</label>
      <textarea type="text" class="form-post form-control" id="postContent" name="postContent" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<%- include ("partials/footer") %>